svg {
  display: block;
  margin: auto;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  background-color: #ff9e2c;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: #b6701e;
  flex: 1;
  padding: 1rem;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightblue;
  stroke-width: 1.5;
  shape-rendering: crispEdges;
  z-index: -1;
}

.axis text {
  font-family: sans-serif;
  font-size: 9px;
  font-weight: bold;
}

.controls button {
  display: block;
  margin: 4em auto 4em auto;
  background-color: 'aquawhite';
}
