.linechart path {
  fill: none;
  stroke: #5357a1;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.linechart .highlight-mark {
  fill: #FA7F9F;
  stroke: #891836;
  stroke-width: 1px;
}
