#scatter_plot circle{
  stroke: #1D5FA2;
  stroke-width: 2;
  opacity: 0.9;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 55px;
  padding: 2px;
  font: 12px sans-serif;
  color: darkblue;
  font-weight: bold;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/*div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

/* Pattern styles */
.container {
  display: flex;
}

.left-half {
  flex: 1;
  padding: 1rem;
}

.right-half {
  flex: 1;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: salmon;
}

svg {
  display: block;
  margin: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightblue;
  stroke-width: 1.5;
  shape-rendering: crispEdges;
  z-index: -1;
}

.axis text {
  font-family: sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
}
